*.o
*.b
*.out
z8000/cz8/cz8
z8000/ccz8
z8000/oz8
z8000/test/optimizer/build/
z8000/test/regress/build/
z8000/lib/softfp.az8
z8000/test/softfp.az8
z8000/test/compare68k/build/
z8000/test/regress/__pycache__/
z8000/test/external/build/
z8000/test/compare68k/__pycache__/
z8000/test/ratchet/build/
z8000/test/ratchet/__pycache__/
z8000/test/knr/build/
z8000/test/knr/__pycache__/

z8000/test/*.sout
z8000/test/*.work/
z8000/test/__pycache__/
z8000/test/run_emu
